<!-- <p-tag [ngClass]="{
  'p-tag p-tag-success': severity === 'success',
  'p-tag p-tag-info': severity === 'info',
  'p-tag p-tag-warning': severity === 'warning',
  'p-tag p-tag-danger': severity === 'danger',
  'p-tag p-tag-secondary': severity === 'secondary',
  'p-tag p-tag-contrast': severity === 'contrast',
  'p-tag urgent': severity === 'urgent'
}" 
[value]="value"
[rounded]="rounded"
[icon]="icon"></p-tag> -->

<p-tag 
  [value]="value" 
  [severity]="severityType"
  [rounded]="rounded" 
  [icon]="icon">
</p-tag>