<app-toast />

<div class="card">
  <h3 *ngIf="!id">Add Sale</h3>
  <h3 *ngIf="id">Update Sale</h3>
  <div class="col-12">
    <form #saleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid grid">

        <!-- <div class="field col-12 md:col-4">
          <app-input-datepicker label="Date" [(ngModel)]="item.saleDate" name="saleDate" />
        </div> -->

        <!-- Sale Date -->
        <div class="field col-12 md:col-4">
          <app-input-date label="Date" [(ngModel)]="item.saleDate" name="saleDate" />
        </div>

        <!-- Warehouse -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Warehouse" [(ngModel)]="item.warehouseId" name="warehouseId"
            [options]="optionsDataSources?.warehousesSelectList" [required]="true" (onChange)="onWarehouseChange()" [showClear]="false" />
            <small class="validation-color" *ngIf="showWarehouseValidationMsg">Please select warehouse</small>
        </div>

        <!-- Customer -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Customer" [(ngModel)]="item.customerId" name="customerId"
            [options]="optionsDataSources?.customersSelectList" [required]="true" [showClear]="false" />
        </div>

        <!-- Biller -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Biller" [(ngModel)]="item.billerId" name="billerId"
            [options]="optionsDataSources?.customersSelectList" />
        </div>

        <!-- product select  -->
        <!-- <div class="col-12">
          <app-input-select label="" [optionValue]="null" name="selectedProduct" [(ngModel)]="selectedProduct"
            (ngModelChange)="onProductSelect()" [options]="optionsDataSources?.productsSelectList"  />
        </div> -->

        <div class="col-12">
          <app-product-search  [suggestions]="suggestions" (onComplete)="searchProduct($event)" [showClear]="true"
            (onSelect)="onProductSelect($event)" [forceSelection]="true" placeholder="Search Product by code or name"  />
        </div>

        <!-- Sale Details List -->
        <div class="col-12">
          <p-table [value]="item.saleDetails" [scrollable]="true" scrollHeight="600px">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width:100px">Name</th>
                <th style="min-width:70px">Code</th>
                <th style="min-width:70px">Quantity</th>
                <th style="min-width:70px">Unit Price</th>
                <th style="min-width:70px">Discount</th>
                <th style="min-width:70px">Tax</th>
                <th style="min-width:70px">Sub Total</th>
                <th style="min-width:50px">Del</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detail let-i="rowIndex">
              <tr>
                <td>{{ detail.productName }} <i class="pi pi-pen-to-square product-edit-icon"
                    (click)="updateSaleDetail(i, detail)"></i></td>
                <td>{{ detail.productCode }}</td>
                <td>
                  <app-input-number [(ngModel)]="detail.quantity" name="quantity-{{i}}" [showButtons]="true" [min]="1"
                    textAlign="center" (onChange)="onItemPropsChange(detail)" />
                </td>
                <td>
                  {{detail.netUnitPrice}}
                </td>
                <td>
                    {{detail.discountAmount}}
                </td>
                <td>
                  {{detail.taxAmount}}
                </td>
                <td>
                  <div class="text-right mr-2">
                    {{ detail.totalPrice | number:'1.2-2' }}
                  </div>
                </td>
                <td>
                  <app-button type="button" severity="danger" icon="pi pi-trash"
                    (click)="onRemoveSaleDetail(i, detail.id)" />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr class="text-center">
                <td colspan="2" class="text-left">Total</td>
                <td class="text-center">{{ totalQuantity | number:'1.2-2' }}</td>
                <td></td>
                <td class="text-center">{{ totalDiscount | number:'1.2-2' }}</td>
                <td class="text-center">{{ totalTaxAmount | number:'1.2-2' }}</td>
                <td class="text-right">{{ item.subTotal | number:'1.2-2' }}</td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Tax -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Order Tax" name="taxRate" [(ngModel)]="item.taxRate"
            [options]="optionsDataSources?.taxesSelectList" [required]="true" [showClear]="false"
            (ngModelChange)="onOrderTaxChange()" />
        </div>

        <div class="field col-12 md:col-4">
          <app-input-select label="Discount Type" [(ngModel)]="item.discountType" name="discountType"
            [options]="discountTypes" (ngModelChange)="onDiscountTypeChange()" [showClear]="false" />
        </div>

        <!-- Discount Rate -->
        <div class="field col-12 md:col-4" *ngIf="item.discountType === DiscountType.Percentage">
          <app-input-decimal label="Discount Rate" textAlign="right" [(ngModel)]="item.discountRate" name="discountRate"
            (ngModelChange)="onDiscountRateChange()" />
        </div>

        <!-- Discount Amount -->
        <div class="field col-12 md:col-4" *ngIf="item.discountType === DiscountType.Fixed">
          <app-input-decimal label="Discount Amount" textAlign="right" [(ngModel)]="item.discountAmount"
            name="discountAmount" (ngModelChange)="onDiscountAmountChange()" />
        </div>

        <!-- Shipping Cost -->
        <div class="field col-12 md:col-4">
          <app-input-decimal label="Shipping Cost" textAlign="right" [(ngModel)]="item.shippingCost" name="shippingCost"
            (ngModelChange)="onShippingCostChange()" />
        </div>

        <!-- Sale Status -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Sale Status" [(ngModel)]="item.saleStatusId" name="saleStatusId" [showClear]="false"
            [options]="optionsDataSources?.saleStatusSelectList" />
        </div>

        <!-- Payment Status -->
        <!-- <div class="field col-12 md:col-4">
          <app-input-select label="Payment Status" [(ngModel)]="item.paymentStatusId" name="paymentStatusId" [showClear]="false"
            [options]="optionsDataSources?.paymentStatusSelectList" />
        </div> -->

        <!-- Attachment -->
        <div class="field col-12">
          <app-input-file-adv [maxFileSize]="100000000" mode="basic" location="images"
            (fileUrlsChange)="onFileUpload($event)" />
        </div>

        <!-- Show Payment Start -->
        <div class="mt-3 field col-12 md:col-4" *ngIf="!isEdit">
          <app-input-switch label="Add Payment" [(ngModel)]="item.hasPayment" name="hasPayment" (onChange)="setEmptySalePaymentOnSwitchOff()" />
        </div>
        <div class="card col-12" *ngIf="item.hasPayment && !isEdit">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
              <app-input-decimal label="Received Amount" [(ngModel)]="item.salePayment.receivedAmount"
                name="receivedAmount" (onChange)="updateChangeAmount()" textAlign="right" [required]="true" />
            </div>
            <div class="field col-12 md:col-3">
              <app-input-decimal label="Paying Amount" [(ngModel)]="item.salePayment.payingAmount" name="payingAmount"
                (onChange)="updateChangeAmount()" textAlign="right" [required]="true" />
            </div>
            <div class="field col-12 md:col-3">
              <app-input-decimal label="Change" [(ngModel)]="item.salePayment.changeAmount" name="changeAmount"
                textAlign="right" [required]="false" [disabled]="true" />
            </div>
            <div class="field col-12 md:col-3">
              <app-input-select label="Payment Type" [(ngModel)]="item.salePayment.paymentType" name="paymentType"
                [options]="optionsDataSources?.['paymentTypeSelectList']" [required]="true" [showClear]="false" />
            </div>
            <div class="field col-12">
              <app-input-textarea label="Payment Note" [(ngModel)]="item.salePayment.note" name="note" [required]="false"
                [max]="500" [autoResize]="true" [showCharLength]="true" />
            </div>
          </div>
        </div>
        <!-- Show Payment End -->

        <div class="grid col-12">
          <!-- Sale Note -->
          <div class="field col-12 md:col-6">
            <app-input-textarea label="Sale Note" [(ngModel)]="item.saleNote" name="saleNote" />
          </div>

          <!-- Staff Note -->
          <div class="field col-12 md:col-6">
            <app-input-textarea label="Staff Note" [(ngModel)]="item.staffNote" name="staffNote" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <table width="100%" style="text-align: right;">
          <tbody>
            <tr>
              <td class="" colspan="4">
                <strong>Items</strong>
              </td>
              <td class="">
                <span>{{totalItems}}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Total</strong>
              </td>
              <td class="">
                <span>{{ item.subTotal | number:'1.2-2' }}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Order Tax</strong>
              </td>
              <td class="">
                <span>{{ item.taxAmount | number:'1.2-2'}}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Order Discount</strong>
              </td>
              <td class="">
                <span>{{ item.discountAmount | number:'1.2-2'}}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Shipping Cost</strong>
              </td>
              <td class="">
                <span>{{ item.shippingCost | number:'1.2-2'}}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Grand Total</strong>
              </td>
              <td class="font-bold">
                <span>{{ item.grandTotal | number:'1.2-2'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <!-- Form Actions -->
      <div class="mt-3 p-dialog-footer">
        <app-button label="Save" type="submit" [outlined]="true" icon="pi pi-check" [disabled]="!saleForm.valid" />
      </div>
    </form>
  </div>
</div>