::ng-deep {
  app-input-decimal.ng-invalid.ng-touched input {
    border: 1px solid #f19ea6;
  }

  app-input-decimal.ng-invalid.ng-touched input:focus {
    box-shadow: none;
  }

  app-input-decimal p-inputnumber {
    width: 100%;
    box-sizing: border-box;
  }

  // app-input-decimal p-inputnumber input, span {
  //   width: 100%;
  //   box-sizing: border-box;
  // }

  app-input-decimal p-inputnumber input {
    width: 100%;
    box-sizing: border-box;
  }

  .decimal-comp .digit-right .p-inputnumber-input {
    // width: 100%;
    text-align: right;
  }
}


