
.employee-tab{
  min-height: 350px;
}
:host ::ng-deep {
  .employee-tab .orientation-right {
    display: flex;

    .p-tabview-nav {
      flex-direction: column;
      width: 10%;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow separator */
      border: none; /* Remove any border */
    }

    .p-tabview-nav li {
      outline: none; /* Remove dotted outline */
      border: none; /* Remove default border */
      position: relative; /* For underline styling */
      margin-bottom: -1px; /* Prevent bottom border of adjacent tabs */
    }

    .p-tabview-nav li.p-highlight {
      border-left: 3px solid #007ad9; /* Active tab underline */
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.15); /* Background color for active tab */
      border-bottom: none; /* Ensure no bottom border on active tab */
    }

    .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      border: none; /* Remove border from active tab link */
    }

    .p-tabview-nav li:not(.p-highlight):hover {
      background-color: rgba(165, 23, 23, 0.05); /* Hover effect */
    }

    /* Align icon and text to the left */
    .p-tabview-nav-link {
      display: flex;
      align-items: center;
      justify-content: flex-start; /* Align both icon and text to the left */
    }

    .p-tabview-nav-link .p-tabview-left-icon {
      margin-right: 8px; /* Add spacing between icon and text */
    }

    .p-tabview-panels {
      width: 90%; /* Content width */
      background: #1f2d40;
      padding: 1rem;
      color: rgba(255, 255, 255, 0.87);
      border-radius: 3px;
      border-bottom: none; /* Remove bottom border */
    }

    app-input-decimal p-inputnumber input, span {
      // width: 100%;
      box-sizing: border-box;
    }
  }

  .p-tabview {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); /* Tabview container shadow */
  }

  /* Additional styling to ensure no unwanted borders or outlines */
  .p-tabview .p-tabview-nav {
    border: none;
  }

  .p-tabview .p-tabview-panel {
    border: none; /* Ensure no border around the panel */
  }
}