<div class="col-12">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="p-fluid p-formgrid grid">
         <div class="field col-12 md:col-6">
        <app-input-text label="Employee Code" formControlName="employeeCode" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['employeecode']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="Employee Name" formControlName="employeeName" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['employeename']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-select label="Gender" formControlName="gender" [options]="optionsDataSources?.['genderSelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="NID" formControlName="nid" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['nid']" />
    </div>
    <div class="field col-12 md:col-6">
      <app-input-select label="Warehouse" formControlName="warehouseId" [options]="optionsDataSources?.['warehousesSelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
      <app-input-select label="Department" formControlName="departmentId" [options]="optionsDataSources?.['departmentSelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
      <app-input-select label="Designation" formControlName="designationId" [options]="optionsDataSources?.['designationSelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
      <app-input-select label="Working Shift" formControlName="workingShiftId" [options]="optionsDataSources?.['workingShiftSelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="Email" formControlName="email" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['email']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="Phone No" formControlName="phoneNo" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['phoneno']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="Mobile No" formControlName="mobileNo" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['mobileNo']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-select label="Country" formControlName="country" [options]="optionsDataSources?.['countrySelectList']"
        [required]="false" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="City" formControlName="city" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['city']" />
    </div>
    <div class="field col-12 md:col-6">
        <app-input-text label="Address" formControlName="address" [required]="false" [readonly]="false" />
        <app-validator-msg [control]="f['address']" />
    </div>

    </div>

    <div class="mt-3 p-dialog-footer">
      <app-button label="Cancel" type="button" icon="pi pi-times" [text]="true" severity="warning"
        (onClick)="cancel()" />
      <app-button label="Save" type="submit" icon="pi pi-check" [text]="true" [disabled]="form.invalid" />
    </div>
  </form>
</div>