<div *ngIf="!hidden" class="cust-field">
  <label *ngIf="label" [attr.for]="inputId" class="label" >
    {{ label }}
    <span *ngIf="required" class="required-star">*</span>
  </label>
  <p-calendar
    [inputId]="inputId"
    [name]="name"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonlyInput]="readonlyInput"
    [required]="required"
    [dateFormat]="dateFormat"
    [selectionMode]="selectionMode"
    [multipleSeparator]="multipleSeparator"
    [rangeSeparator]="rangeSeparator"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [disabledDates]="disabledDates"
    [disabledDays]="disabledDays"
    [yearRange]="yearRange"
    [defaultDate]="defaultDate"
    [firstDayOfWeek]="firstDayOfWeek"
    [maxDateCount]="maxDateCount"
    [dataType]="dataType"
    [showIcon]="showIcon"
    [icon]="icon"
    [iconDisplay]="iconDisplay"
    [showButtonBar]="showButtonBar"
    [showClear]="showClear"
    [todayButtonStyleClass]="todayButtonStyleClass"
    [clearButtonStyleClass]="clearButtonStyleClass"
    [monthNavigator]="monthNavigator"
    [yearNavigator]="yearNavigator"
    [appendTo]="appendTo"
    [variant]="variant"
    [panelStyle]="panelStyle"
    [panelStyleClass]="panelStyleClass"
    [inputStyle]="inputStyle"
    [inputStyleClass]="inputStyleClass"
    [ariaLabel]="ariaLabel"
    [ariaLabelledBy]="ariaLabelledBy"
    [iconAriaLabel]="iconAriaLabel"
    [autofocus]="autofocus"
    [showOnFocus]="showOnFocus"
    [style]="style"
    [styleClass]="styleClass"
    [autoZIndex]="autoZIndex"
    [baseZIndex]="baseZIndex"
    [numberOfMonths]="numberOfMonths"
    [focusTrap]="focusTrap"
    [tabindex]="tabindex"
    [showWeek]="showWeek"
    [startWeekFromFirstDayOfYear]="startWeekFromFirstDayOfYear"
    [hideOnDateTimeSelect]="hideOnDateTimeSelect"
    [keepInvalid]="keepInvalid"
    [shortYearCutoff]="shortYearCutoff"
    [responsiveOptions]="responsiveOptions"
    [hideTransitionOptions]="hideTransitionOptions"
    [showTransitionOptions]="showTransitionOptions"
    [locale]="locale"
    [stepYearPicker]="stepYearPicker"
    [showTime]="showTime"
    [timeOnly]="timeOnly"
    [hourFormat]="hourFormat"
    [showSeconds]="showSeconds"
    [timeSeparator]="timeSeparator"
    [stepHour]="stepHour"
    [stepMinute]="stepMinute"
    [stepSecond]="stepSecond"
    [inline]="inline"
    [showOtherMonths]="showOtherMonths"
    [selectOtherMonths]="selectOtherMonths"
    [view]="view"
    [touchUI]="touchUI"
    (onBlur)="onBlurEvent($event)"
    (onFocus)="onFocusEvent($event)"
    (onClose)="onCloseEvent($event)"
    (onSelect)="onSelectEvent($event)"
    (onClear)="onClearEvent($event)"
    (onInput)="onInputEvent($event)"
    (onTodayClick)="onTodayClickEvent($event)"
    (onClearClick)="onClearClickEvent($event)"
    (onMonthChange)="onMonthChangeEvent($event)"
    (onYearChange)="onYearChangeEvent($event)"
    (onClickOutside)="onClickOutsideEvent($event)"
    (onShow)="onShowEvent($event)"
    (ngModelChange)="onInputChange($event)"
>
</p-calendar>



  <!-- Validation Error Display -->
  <!-- <div *ngIf="required && value === null" class="error-message">
    {{ label }} is required.
  </div> -->
</div>


