::ng-deep {
  app-input-datepicker.ng-invalid.ng-touched input {
    border: 1px solid #f19ea6;
  }

  app-input-datepicker.ng-invalid.ng-touched input:focus {
    box-shadow: none;
  }
  
  .cust-field  .p-calendar {
    width: 100%;
    box-sizing: border-box;
  }
}