<div class="card" *ngIf="item">
  <h3>Quotation Details</h3>
  <div class="grid p-fluid">
    <div *ngIf="item?.companyInfo" class="col-12 md:col-4">
      <div>
        <span>From:</span>
      </div>
      <div>
        <span>{{item.companyInfo.name}}</span>
      </div>
      <div>
        <span>{{item.companyInfo.address}} {{item.companyInfo.city}} {{item.companyInfo.country}}</span>
      </div>
      <div>
        <span>Phone: {{item.companyInfo.phone}}, {{item.companyInfo.mobile}} </span>
      </div>
      <div>
        <span>Email: {{item.companyInfo.email}}</span>
      </div>
    </div>
    <div *ngIf="item?.customer" class="col-12 md:col-4">
      <div>
        <span>Customer Details:</span>
      </div>
      <div>
        <span>{{item.customer.name}}</span>
      </div>
      <div>
        <span>{{item.customer.address}} {{item.customer.city}} {{item.customer.country}}</span>
      </div>
      <div>
        <span>Phone: {{item.customer.phoneNo}}, {{item.customer.mobile}} </span>
      </div>
      <div>
        <span>Email: {{item.customer.email}}</span>
      </div>
    </div>
    <div class="col-12 md:col-4">
      <div>
        <span>Reference: {{item?.referenceNo}}</span>
      </div>
      <div>
        <span>Date: {{item?.quotationDate | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div>
        <span>Quotation Status: {{item?.quotationStatus}}</span>
      </div>
    </div>
  </div>

  <!-- Quotation Details List -->

  <div class="grid p-fluid">
    <div class="col-12">
      <p-table [value]="item?.quotationDetails" [scrollable]="true" scrollHeight="600px" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr class="text-center">
            <th>#</th>
            <th style="min-width:100px;">Name</th>
            <th style="min-width:70px;">Price</th>
            <th style="min-width:70px;">Quantity</th>
            <th style="min-width:70px;">Unit Price</th>
            <th style="min-width:70px;">Discount</th>
            <th style="min-width:70px;">Tax</th>
            <th style="min-width:70px;">Sub Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail let-i="rowIndex">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{ detail.productName }} ({{ detail.productCode }}) </td>
            <td class="text-center">
              {{detail.productUnitCost}}
            </td>
            <td class="text-center">
              {{detail.quantity}}
            </td>
            <td class="text-right">
              {{detail.netUnitPrice | number:'1.2-2'}}
            </td>
            <td class="text-right">
              {{detail.discountAmount | number:'1.2-2'}}
            </td>
            <td class="text-right">
              {{detail.taxAmount | number:'1.2-2'}}
            </td>
            <td class="text-right">
              <div class="text-right">
                {{ detail.totalPrice | number:'1.2-2'}}
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="2" class="text-left">Total</td>
            <td></td>
            <td class="text-center">{{ item.totalQuantity }}</td>
            <td></td>
            <td class="text-right">{{ item.totalDiscount | number:'1.2-2'}}</td>
            <td class="text-right">{{ item.totalTaxAmount | number:'1.2-2'}}</td>
            <td class="text-right">{{ item?.subTotal | number:'1.2-2'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-7 payment-detail">
      
    </div>
    <div class="col-12 md:col-5">
      <table width="100%" style="text-align: right;">
        <tbody>
          <tr>
            <td class="" colspan="4">
              <strong>Items</strong>
            </td>
            <td class="">
              <span>{{item.totalItems}}</span>
            </td>
          </tr>
          <tr>
            <td class="" colspan="4">
              <strong>Total</strong>
            </td>
            <td class="">
              <span>{{ item?.subTotal | number:'1.2-2'}}</span>
            </td>
          </tr>
          <tr>
            <td class="" colspan="4">
              <strong>Order Tax</strong>
            </td>
            <td class="">
              <span>{{ item?.taxAmount | number:'1.2-2'}}</span>
            </td>
          </tr>
          <tr>
            <td class="" colspan="4">
              <strong>Order Discount</strong>
            </td>
            <td class="">
              <span>{{ item?.discountAmount | number:'1.2-2'}}</span>
            </td>
          </tr>
          <tr>
            <td class="" colspan="4">
              <strong>Shipping Cost</strong>
            </td>
            <td class="">
              <span>{{ item?.shippingCost | number:'1.2-2'}}</span>
            </td>
          </tr>
          <tr>
            <td class="" colspan="4">
              <strong>Grand Total</strong>
            </td>
            <td class="font-bold">
              <span>{{ item?.grandTotal | number:'1.2-2'}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>